<p>My List</p>

<img src="app/assets/images/banner.png" class="img-fluid" alt="Responsive image">

<div class ='card' style="width: 18rem;">
  <ul class="list-group list-group-flush">
  <% @lists.each do |list| %>
    <li class = "list-group-item" style="margin: 10px"><%= link_to label_tag(list.name, list.name), list_path(list) %></li>
  <% end %>
  </ul>
</div>

<br>
<button type="button" class="btn btn-outline-primary"><%= link_to "create new", new_list_path %></button>
